<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <table class="table table-borderless table-dark">
        <thead>
            <tr>
                <th scope="col"><H1>Success!</H1> <br><h2>Welcome, {{user.first_name}}!</h2></th>
                <th scope="col"><a href= "/clear" ><button type="button">Log out</button></a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">You are successfully {{request.session.status | safe}}!
                </td>
            </tr>
            <tr>
                <td colspan="2">

                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>